filebeat.inputs:
- type: log
  paths:
    - /var/log/tomcat8/localhost*
  tags: ["aip_dashboard"]
  multiline.pattern: '^[[:space:]]'
  multiline.negate: false
  multiline.match: after
  fields:
    node_id: {{private_ip_address}}

output.logstash:
    hosts: ["{{logcollector_host}}:{{logcollector_port}}"]
