#CAST Webification 1.1.1-SNAPSHOT

#TargetPanel_0
INSTALL_PATH={{cast_webi_install_dir}}

#cmsapiConfigurationPanel1

cmsapi.port=8082
cmsapi.cast.ms.home={{cast_aip_install_dir}}
cmsapi.db.host={{cast_postgres_host}}:{{cast_postgres_port}}
cmsapi.db.username=operator
cmsapi.db.password=CastAIP
cmsapi.measurement.service.name=ath_832_measure
cmsapi.extend.username=ath
cmsapi.extend.password=abhi123456
cmsapi.delivery.folder.location={{cast_ms_delivery_dir}}
cmsapi.deployment.folder.location={{cast_ms_deploy_dir}}
cmsapi.fileupload.folder.location={{cast_ms_upload_dir}}


#webiConfigurationPanel

webi.port=8081
webi.globalLicense=CAST_R&D:1;AIP/EFP:20190630:WZQWQEZY
webi.security=local
webi.local.username=cast
webi.local.password=cast
webi.ldap.url=
webi.ldap.username=
webi.ldap.password=
webi.ad.url=
webi.ad.domain=
