{
    "dashboardSettings": {
      "integrationKey": "cast",
      "url": "http://localhost:8888/CAST-RESTAPI-integrated",
      "username": "cast"
    },
    "extendSettings": {
        "enableSendReport": false,
        "extendPassword": "{{ aip_console_extend_password }}",
        "extendUrl": "https://extendng.castsoftware.com",
        "extendUsername": "{{ aip_console_extend_username }}"
    },
    "key": "{{ aip_console_configuration_key }}",
    "licenseKey": "{{ aip_console_license_key }}",
    "measurementSettings": {
        "database": {
            "host": "localhost",
            "password": "CastAIP",
            "port": 2282,
            "userName": "operator"
        },
        "schemaName": "general_measure"
    },
    "username": "{{ aip_console_admin_username }}",
    "password": "{{ aip_console_admin_password }}"
}
