CAST_ALL_USERS_PATH=C:\CASTMS\AIPdata\8.3
CAST_CURRENT_USER_WORK_PATH=C:\CASTMS\AIPdata\8.3
CAST_CURRENT_USER_TEMP_PATH=C:\CASTMS\AIPdata\TEMP
CAST_LOG_ROOT_PATH=C:\CASTMS\AIPdata\Logs
CAST_PROGRAM_FILES_COMMON_PATH=C:\CASTMS\AIPdata\common
CAST_PROGRAM_FILES_COMMON_UNVERSIONED_PATH=C:\CASTMS\AIPdata\commonUnversioned
CAST_PLUGINS_ROOT_PATH=C:\CASTMS\AIPdata\Extensions
CAST_DEFAULT_LISA_DIR=C:\CASTMS\AIPdata\CASTMS
CAST_DEFAULT_LTSA_DIR=C:\CASTMS\AIPdata\CASTMS
