#CAST Webification 1.1.1-SNAPSHOT

#TargetPanel_0
INSTALL_PATH={{cast_webi_install_dir}}

#webiConfigurationPanel

webi.port=8081
webi.globalLicense=CAST_R&D:1;AIP/EFP:20190630:WZQWQEZY
webi.security=local
webi.local.username=cast
webi.local.password=cast
webi.ldap.url=
webi.ldap.username=
webi.ldap.password=
webi.ad.url=
webi.ad.domain=
