filebeat.inputs:
- type: log
  paths:
    - "{{cast_webi_install_dir}}/AipConsole/data/logs/*.log"
  tags: ["aip_console"]
  multiline.pattern: '^[[:space:]]'
  multiline.negate: false
  multiline.match: after
  fields:
    node_id: {{private_ip_address}}

output.logstash:
    hosts: ["{{logcollector_host}}:{{logcollector_port}}"]
